@model IEnumerable<XportGear.Models.RegisterViewModel>
@{
    ViewBag.Title = "Users Assigned";
}

<h2>Users and Their Roles</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Username
        </th>
        <th>
            Role Name
        </th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.Email
            </td>
            <td>
                @user.rolename
            </td>
        </tr>
    }
</table>
<p>
    <a class="btn btn-default" href="@Url.Action("DashBoard","Admin")">
        <i class="fa fa-angle-left"></i>
        Back to List
    </a>
</p>


