<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xsport.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>xsport.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Xsport</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Xsport</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyXportDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:xsportsv.database.windows.net,1433;Initial Catalog=Xport;Persist Security Info=False;User ID=Admin101;Password=&quot;Zidane!=10&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="XportGear.Models.ApplicationDbContext, XportGear" MigrationConfiguration="XportGear.Migrations.Configuration, XportGear" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="XportDb" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:xsportsv.database.windows.net,1433;Initial Catalog=Xport;Persist Security Info=False;User ID=Admin101;Password=&quot;Zidane!=10&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:xsportsv.database.windows.net,1433;Initial Catalog=Xport;Persist Security Info=False;User ID=Admin101;Password=Zidane!=10;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-XportGear-20181023015034.mdf;Initial Catalog=aspnet-XportGear-20181023015034;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\XportDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-XportGear-20181023015034.mdf;Initial Catalog=aspnet-XportGear-20181023015034;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="XportDb-Web.config Connection String">
      <ParameterValue>Server=tcp:xsportsv.database.windows.net,1433;Initial Catalog=Xport;Persist Security Info=False;User ID=Admin101;Password=Zidane!=10;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MyXportDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xsportsv.database.windows.net,1433;Initial Catalog=Xport;Persist Security Info=False;User ID=Admin101;Password="Zidane!=10";Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="XportDb-Web.config Connection String">
      <ParameterValue>Server=tcp:xsportsv.database.windows.net,1433;Initial Catalog=Xport;Persist Security Info=False;User ID=Admin101;Password=Zidane!=10;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MyXportDb" />
  </ItemGroup>
</Project>